:root {
    font-size: 1.2rem;
    font-family: monospace;
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: rgb(9, 51, 100);
}

body {
    background-image: url('images/bg.png');
    backdrop-filter: blur(3px);
    padding: 2em 0 8em 0;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em 2em;
    margin-top: 2em;
    background-color: rgb(0 0 0 / 0.4);
    color: white;
}

main {
    width: 80%;
    text-align: center;
    margin: auto;
}

#items {
    text-align: start;
    width: 75%;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
}

#title > h1 {
    color: black;
    font-size: 2.5em;
    -webkit-text-stroke: 0.5px white;
    margin-bottom: 1rem;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5em;
}

.checkbox .box {
    aspect-ratio: 1 / 1;
    overflow: visible;
    width: 2em;
    background-color: white;
    position: relative;
}

.desc {
    height: 2em;
    display: grid;
    place-items: center;
    font-weight: bold;
}

.detail {
    margin: 1em 0;
}

.item {
    border-radius: 1.5em;
    background-color: rgb(0 0 0 / 0.2);
    padding: 3em 2em;
    cursor: pointer;
    position: relative;
}

.item input[type='checkbox'] {
    display: none;
}

.item input[type='checkbox']:checked ~ .box::after {
    opacity: 1;
}

.item .box::after {
    transition: opacity 0.3s ease;
    opacity: 0;
    bottom: -0.1em;
    right: -0.2em;
    text-align: center;
    content: '✓';
    position: absolute;
    color: #c02400;
    font-weight: bold;
    font-size: 3em;
}

.item input[type='checkbox'] ~ .right .detail {
    display: none;
}

.item input[type='checkbox']:checked ~ .right .detail {
    display: block;
}

.item label {
    cursor: pointer;
    position: absolute;
    inset: 0;
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }
}
