:root {
    font-size: 1.2rem;
    font-family: monospace;
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: rgb(9, 51, 100);
}

body {
    background-image: url('images/bg.png');
    backdrop-filter: blur(3px);
    padding: 2em 0 0 0;
}

footer {
    padding: 1em 2em;
    margin-top: 2em;
    background-color: rgb(0 0 0 / 0.4);
    color: white;
}

main {
    width: 80%;
    text-align: center;
    margin: auto;
}

#items {
    text-align: start;
    width: 75%;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
}

#title > h1 {
    color: black;
    font-size: 2.5em;
    -webkit-text-stroke: 0.5px white;
    margin-bottom: 1rem;
}

.ans-ctr {
    cursor: default;
    z-index: 2;
    align-self: self-start;
    margin: 0 2em;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5em;
}

.checkbox .box {
    aspect-ratio: 1 / 1;
    overflow: visible;
    width: 2em;
    background-color: white;
    position: absolute;
    border-radius: 0.3em;
    pointer-events: none;
}

.desc {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    width: calc(100% - 3em);
    margin-left: 3em;
}

.detail {
    margin-top: 1em;
}

.detail img {
    width: 60%;
    margin-block: 1rem;
}

.detail > h1 {
    margin-bottom: 0.2rem;
    text-align: center;
}

.detail span {
    font-weight: bold;
}

.item {
    border-radius: 1.5em;
    background-color: rgb(0 0 0 / 0.2);
    padding: 3em 2em;
    cursor: pointer;
    position: relative;
}

.item .checkbox > input[type='checkbox'] {
    display: none;
}

.item .checkbox > input[type='checkbox']:checked ~ .box::after {
    opacity: 1;
}

.item .box::after {
    transition: opacity 0.3s ease;
    opacity: 0;
    bottom: -0.1em;
    right: -0.2em;
    text-align: center;
    content: '✓';
    position: absolute;
    color: #c02400;
    font-weight: bold;
    font-size: 3em;
}

.item .checkbox > input[type='checkbox'] ~ .more .detail {
    display: none;
}

.item .checkbox > input[type='checkbox']:checked ~ .more .detail {
    display: block;
}

.item > label {
    cursor: pointer;
    position: absolute;
    inset: 0;
    border-radius: inherit;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.more {
    width: 100%;
}

span[id$='answer'] {
    margin: 1em auto;
    text-align: center;
    display: block;
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 0.9rem;
    }

    main {
        width: 100%;
    }

    .ans-ctr {
        margin: 0;
    }
}
